/*Informations générales de la page*/
body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #010a4f;
    margin: 0;
}
#board{
    width: 100%;
}
h1, h2, h3, p{
    margin: 0;
}
p, .aptitude{
    font-size: 17px;
}
a {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
h2{
    padding: 60px 0 0 2%;
    font-size: 36px;
}
h4{
    text-decoration: underline;
    font-size: larger;
}
.shadow{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

/*Caractéristiques de la barre de navigation*/
.phoneNav{
    display: none;
}
.navigation{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0;
    z-index: 6;
}
.navButton {
    display: flex;
    justify-content: center;
    width: 20%;
    height: 40px;
    color: white;
    font-size: 18px;
    background-color: #22bcff;
    text-decoration: none;
    list-style: none;
    border: 2px solid white;
    border-radius: 30px;
    margin-right: 3%;
}
.navButton:hover{
    background-color: #ffffff;
    color: #1d63f0;
    border: 3px solid #1d63f0;
}

/*Configuration de la section de présentation*/
h1 {
    width: 70%;
    text-align: center;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 30px;
    padding: 30px 0 30px 0;
    font-size: 48px;
}
#presentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #010a4f;
}
#profil{
    border: 2px solid #ffffff;
    border-radius: 20px;
    margin-top: 40px;
}
.description{
    width: 45%;
    text-align: center;
    font-size: 26px;
    margin: 0;
    margin-top: 35px;
}
.important{
    font-size: larger;
    text-decoration: underline;
}

/*Informations sur la section des diplômes et des compétences acquises*/
#skills{
    padding-left: 10%;
    background: linear-gradient(#010a4f, #1d63f0);
}
.diploma{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 6%;
}
.school{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.skillsTitle{
    width: 40%;
}
.skillsDiploma{
    width: 40%;
}
.skillsDetails{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillsDetails p {
    font-size: 22px;
}
.aptitude{
    font-size: 22px;
}
.oc_image{
    width: 30%;
    border-radius: 40px;
    left: 150px;
    margin-bottom: 20px;
}
.r2_image{
    width: 20%;
    margin-bottom: 10px;
}

/*Caractéristiques de la section du portfolio avec les différents projets*/
#portfolio{
    width: 100%;
    background: linear-gradient(#1d63f0, #22bcff);
}
#projectList{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.projectItem{
    width: 90%;
    padding-left: 7%;
    margin-bottom: 30px;
}
.projectTitle{
    padding-bottom: 10px;
    font-size: 24px;
}
.projectResume{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.projectResume p {
    font-size: 22px;
}
.illustration{
    display: flex;
}
.projectPictures{
    width: 70%;
    display: flex;
    align-items: center;
}
.scan{
    width: 40%;
    height: 335px;
    object-fit: fill;
    border-radius: 20px;
    margin-right: 5%;
}
.point{
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.symbol{
    color: #ffffff;
    font-size: 30px;
    border: #ffffff 3px solid;
    border-radius: 60px;
    margin-bottom: 10px;
    padding: 10px;
}
.plus{
    background: linear-gradient(#01c411, #33c708);
}
.minus{
    background: linear-gradient(#e02204, #fa6574);
}
.pointResume{
    margin-top: 10px;
}
.pointResume p {
    font-size: 22px;
}

/*Composantes de la section A propos avec les images d'illustrations*/
#about{
    display: flex;
    flex-direction: column;
    background-color: #22bcff;
}
figcaption{
    font-size: 20px;
}
.detailTitle{
    width: 20%;
    padding-left: 2%;
    font-size: 24px;
}
.detailResume{
    width: 95%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.detailCoding{
    width: 90%;
    display: flex;
    flex-direction: column;
}
#first{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 6%;
}
#second{
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.coding{
    display: flex;
}
.computer{
    width: 50%;
    margin-left: 5%;
}
.computer img{
    width: 100%;
}
.blank{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.software{
    display: flex;
    justify-content: center;
    align-items: center;
}
.softwareTitle{
    width: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.figma{
    width: 25%;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}
.vscode{
    width: 30%;
    background-color: #ffffff;
    border-radius: 20px;
    padding:10px;
}
.movavi{
    width: 35%;
    border-radius: 30px;
}
.fig1{
    margin-top: 15px;
}
.fig2{
    padding-top: 55px;
}
.flags{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.europ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.europ img{
    width: 90%;
}
.asia{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.asia img{
    width: 85%;
}
.level{
    margin-top: 20px;
    font-size: 22px;
}
.hobbies{
    width: 95%;
    display: flex;
}
.bowIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-right: 11%;
}
.joystickIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.joystick{
    width: 70%;
    margin-bottom: 40px;
}
.titleIcon{
    margin-bottom: 25px;
}
.paint{
    width: 70%;
    margin: 30px 0 20px 0;
    text-align: center;
}
.paintIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-left: 7%;
}
.archery{
    margin-top: 60px;
}
.bow{
    width: 70%;
    border-radius: 200px;
}

/*Intégration de la section de contact qui représente le footer*/
#contact{
    background: linear-gradient(#22bcff, #1d63f0);
    padding-bottom: 80px;
}
.contactIcon{
    width: 30%;
    display: flex;
    align-items: center;
    padding:40px 0 0 5%;
}
.contactIcon p{
    font-size: 22px;
    padding-left: 5%;
}
#mailIcon{
    width: 10%;
    font-size: 42px;
}
#inIcon{
    width: 10%;
    font-size: 44px;
}
@media screen and (max-width: 1440px) and (min-width: 995px){

.navButton{
    font-size: 15px;
}
#skills{
    padding-left: 4%;
}
.diploma{
    margin-left: 0;
}
}
@media screen and (max-width: 994px) and (min-width: 768px){

.navButton{
    font-size: 12px;
}
h1{
    font-size: 36px;
}
#skills{
    padding-left: 3%;
}
.skillsTitle{
    width: 50%;
}
.diploma{
    margin-left: 0;
}
.projectPictures{
    flex-direction: column;
}
.scan{
    width: 75%;
    margin-right: 0;
    margin-bottom: 20px;
}
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 375px) {

}