/*Informations générales de la page*/
body{
    width: 1440px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    object-fit: cover;
    margin: 0;
}
#board{
    width: 100%;
}
h1, h2, h3, p{
    margin: 0;
}
p, .aptitude{
    font-size: 17px;
}
a {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
h2{
    padding: 60px 0 0 2%;
    font-size: 36px;
}
h4{
    text-decoration: underline;
    font-size: larger;
}
.shadow{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

/*Caractéristiques de la barre de navigation*/
.navigation{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 97%;
    height: 60px;
    margin: 0;
    z-index: 6;
}
.navButton {
    display: flex;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 40px;
    color: white;
    background-color: #22bcff;
    text-decoration: none;
    list-style: none;
    border: 2px solid white;
    border-radius: 30px;
    padding: 0 1% 0 1%;
    margin-right: 25px;
}
.navButton:hover{
    background-color: #ffffff;
    color: #1d63f0;
    border: 3px solid #1d63f0;
}
.navButton li {
    width: 100%;
}

/*Configuration de la section de présentation*/
h1 {
    width: 70%;
    text-align: center;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 30px;
    padding: 30px 0 30px 0;
}
#presentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #010a4f;
}
#square{
    width: 14%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
}
.description{
    width: 45%;
    text-align: center;
    font-size: 26px;
    margin: 0;
    margin-top: 35px;
}
.important{
    font-size: larger;
    text-decoration: underline;
}

/*Informations sur la section des diplômes et des compétences acquises*/
#skills{
    background: linear-gradient(#010a4f, #1d63f0);
}
.diploma{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 6%;
}
.school{
    margin-bottom: 20px;
}
.skillsTitle{
    width: 40%;
}
.skillsDiploma{
    width: 40%;
}
.skillsDetails{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.school{
    display: flex;
}
.oc_image{
    width: 20%;
    border-radius: 40px;
    left: 150px;
    margin-bottom: 20px;
}
.r2_image{
    width: 20%;
    margin-bottom: 10px;
}

/*Caractéristiques de la section du portfolio avec les différents projets*/
#portfolio{
    width: 100%;
    background: linear-gradient(#1d63f0, #22bcff);
}
#projectList{
    width: 100%;
    display: flex;
    margin-top: 60px;
}
.projectItem{
    width: 30%;
    padding-left: 3%;
}
.projectTitle{
    padding-bottom: 10px;
}
.projectResume{
    display: flex;
    flex-direction: column;
}
.point{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.projectPictures{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scan{
    width: 80%;
    height: 335px;
    object-fit: fill;
    border-radius: 20px;
    margin-top: 20px;
}

.symbol{
    color: #ffffff;
    font-size: 30px;
    border: #ffffff 3px solid;
    border-radius: 60px;
    margin-bottom: 10px;
    padding: 10px;
}
.negative{
    margin-top: 10px;
}

/*Composantes de la section A propos avec les images d'illustrations*/
#about{
    background-color: #22bcff;
}
figcaption{
    font-size: 20px;
}
.detailTitle{
    padding-left: 2%;
}
.detailResume{
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.languageList{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: white;
    border: 4px solid #453bdb;
    border-radius: 40px;
    margin-left: 10%;
}
.language{
    width: 10%;
    border-radius: 5px;
}
.software{
    display: flex;
    align-items: center;
    margin-left: 8%;
}
.softwareTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.soft{
    width: 70%;
}
.vscode{
    width: 35%;
    background-color: #ffffff;
    border-radius: 20px;
    padding:10px;
}
.movavi{
    width: 40%;
    border-radius: 30px;
}
.figTitle{
    position: relative;
    top: 50px;
}
.flags{
    display: flex;
    margin-left: 10%;
    justify-content: space-between;
    align-items: center;
}
.europ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-left: 5%;
}
.europ img{
    width: 100%;
}
.asia{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 0 13px 5%;
}
.asia img{
    width: 90%;
}
.level{
    margin-top: 20px;
}
.notion{
    margin-top: 19px;
}
.hobbies{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}
.bowIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-right: 15%;
}
.joystickIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.joystick{
    width: 100%;
}
.paint{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
.paintIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin-left: 10%;
}
.archery{
    text-align: center;
    margin-top: 40px;
}
.bow{
    width: 95%;
    border-radius: 150px;
}
.arts{
    margin-top: 20px;
}

/*Intégration de la section de contact qui représente le footer*/
#contact{
    background: linear-gradient(#22bcff, #1d63f0);
    padding-bottom: 80px;
}
.contactIcon{
    width: 30%;
    display: flex;
    align-items: center;
    padding:40px 0 0 5%;
}
.contactIcon p{
    font-size: 20px;
    padding-left: 5%;
}
#mailIcon{
    width: 10%;
    font-size: 42px;
}
#inIcon{
    width: 10%;
    font-size: 44px;
}

@media screen and (max-width: 994px) and (min-width: 769px){

body{
    max-width: 994px;
}
h1{
    width: 90%;
}
#square{
    width: 20%;
}
.description{
    width: 50%;
}
.skillsTitle{
    width: 50%;
}
.skillsDetails{
    margin-left: 7%;
}
.portfolio{
    width: 90%;
}
.projectItem1{
    bottom: 27px;
}
.projectItem2{
    padding-left: 2%;
}
.projectResume{
    width: 90%;
}
.projectPictures{
    align-items: flex-start;
}
.scan{
    width: 80%;
}
.contactIcon{
    width: 80%;
}
}
@media screen and (max-width: 768px) {
    
}