body{
    width: 1440px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
}
header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    background: linear-gradient(#9a67fb, #453bdb);
    margin: 0;
}
h1, h2, h3, p{
    margin: 0;
}
h2{
    padding: 40px 0 0 2%;
    font-size: 36px;
}
.navigation{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 97%;
    height: 60px;
    margin: 0;
    z-index: 6;
}
.navButton {
    display: flex;
    text-align: center;
    align-items: center;
    width: 15%;
    height: 40px;
    color: white;
    background-color: #22bcff;
    text-decoration: none;
    list-style: none;
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    padding: 0 1% 0 1%;
    margin-right: 25px;
}
.navButton li {
    width: 100%;
}
h1 {
    width: 70%;
    text-align: center;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 30px;
    padding: 30px 0 30px 0;
}
#presentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(#453bdb, #1d63f0);
    padding: 40px 0 40px 0;
}
#square{
    width: 14%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}
.description{
    width: 40%;
    text-align: center;
    font-size: 26px;
    margin: 0;
    margin-top: 35px;
}
#skills{
    height: 750px;
    background: linear-gradient(#1d63f0, #0f90d9);
}
.diploma{
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 6%;
}
.skillsTitle{
    width: 40%;
}
.skillsDiploma{
    width: 40%;
}
.skillsDetails{
    display: flex;
    align-items: center;
}
.important{
    font-size: larger;
    text-decoration: underline;
}
.oc_image{
    width: 12%;
    border-radius: 40px;
    left: 150px;
    margin-bottom: 20px;
}
.r2{
    display: flex;
}
.r2_image{
    width: 20%;
    margin-bottom: 10px;
}
#portfolio{
    background: linear-gradient(#0f90d9, #22bcff);
}
.portTitle{
    font-size: 36px;
}
#projectList{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.projects{
    width: 100%;
    display: flex;
    align-items: center;
    padding:40px 0 40px 0;
}
.projectItem1{
    width: 50%;
    padding-left: 5%;
}
.projectItem2{
    padding-left: 12.75%;
}
.frame{
    width: 40%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}
#about{
    background-color: #22bcff;
}
#contact{
    background: linear-gradient(#22bcff, #fdd875);
    padding-bottom: 80px;
}
.contactIcon{
    width: 30%;
    display: flex;
    align-items: center;
    padding:40px 0 0 5%;
}
.contactIcon p{
    font-size: 20px;
    padding-left: 5%;
}
#mailIcon{
    width: 10%;
    font-size: 42px;
}
#inIcon{
    width: 10%;
    font-size: 44px;
}